
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@Html.Action("PartialHead", "AdminLayout")
<body style="background-color: #1B1F26;">

    <div class="wrapper d-flex align-items-stretch">
        @Html.Action("PartialMenu", "AdminLayout")

        <div id="content" class="p-4 p-md-5 pt-5 ">
            <style>
                #content {
                    background-color: rgb(17, 16, 16);
                }

                    #content h1 {
                        color: #EDEDED;
                    }

                table {
                    border-radius: 5px;
                    overflow: hidden;
                }
            </style>
            @RenderBody()
        </div>
    </div>
    @Html.Action("PartialScript", "AdminLayout")
</body>
</html>