@model List<PortfolyoProjesi.Models.Tbl_Project>

<section id="Project" class="portfolio section dark-background">

    <div class="container py-5">
        <h2 class="text-center mb-4">Projelerim</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <!-- Proje 1 -->
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card project-card h-100" style="background-color:#1E1E1E">
                        <img src="@item.Image1" class="card-img-top" alt="Proje 1" style="height: 200px; object-fit: cover; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title text-white">Blog Uygulaması</h5>
                            <p class="card-text text-light">ASP.NET Core ve Entity Framework kullanarak geliştirilen dinamik blog platformu.</p>
                            <a href="#" class="btn btn-outline-light">Detaylar</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>


</section>


