@model List<PortfolyoProjesi.Models.Tbl_Educatiton>

    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

        <h3 class="resume-title">Eğitim</h3>
        @foreach (var item in Model)
        {
            <div class="resume-item">
                <h4>@item.Section</h4>
                <h5>@item.EndYear</h5>
                <p><em>@item.Name</em></p>
                <ul>@item.Description</ul>
            </div>
        }


    </div>
